@tailwind base;

@tailwind components;

@tailwind utilities;

/* We can add overrides here like .btn or something*/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 16px; /* sets the REM scale */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.test-class {
  color: burlywood !important;
}
